.main-content {
    margin-left: 18%;
    margin-top: 30px;
}

.welcome-wrapper {
    width: 1208px;
    height: 4px;
    top: 92px;
    left: 280px;
    justify-content: space-between;
    opacity: 1;
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin-bottom: 1%;
}

.welcome-message {
    width: 301;
    height: 32;
    opacity: 1;
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.request-pickup-btn {
    color: #344E41;
    width: 187;
    height: 44;
    gap: 8px;
    opacity: 1;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    border-radius: 8px;
    border-width: 1px;
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.stats-wrapper {
    width: 1208px;
    height: 166px;
    top: 168px;
    left: 280px;
    justify-content: space-between;
    opacity: 1;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 8px;
}

.stats-card {
    border: 1px solid var(--Card-Border, #CFCFCF);
    width: 272px;
    height: 166px;
    opacity: 1;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    border-radius: 8px;
    border-width: 1px;
}

.stats-card>h1 {
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    vertical-align: middle;
    color: #111827BF;
}

.card-footer {
    margin-top: 10%;
    text-align: left;
}

.number {
    font-family: Satoshi;
    font-weight: 900;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-align: left;
}

.unit {
    width: 47px;
    height: 60px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: -3%;
}

.large-components {
    display: flex;
    margin-top: 3%;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 896px;
}

.upcoming-content {
    width: 896px;
    height: 179px;
    top: 358px;
    left: 280px;
    gap: 10px;
    opacity: 1;
    /* padding-top: 16px; */
    padding-right: 1%;
    /* padding-bottom: 16px; */
}

.upcoming-title {
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: -1%;
    padding-bottom: 0.5%;
    border-bottom: 1px solid var(--Card-Border, #CFCFCF);
}

.schedule-content {
    width: 896px;
    height: 372px;
    top: 561px;
    left: 280px;
    opacity: 1;
    padding-top: 16px;
    padding-right: 1%;
    padding-bottom: 16px;
}

.schedule-title {
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-top: -1.5%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    border-bottom: 1px solid var(--Card-Border, #CFCFCF);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-more-link {
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    float: right;
    color: #344E41;
}

.upcoming-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.truck-img {
    opacity: 1;
    /* padding: 8px; */
    padding-left: 8px;
    padding-top: 5px;
    border-radius: 30px;
}

.pickup-info {
    width: 252;
    height: 70;
    gap: 1px;
    opacity: 1;
    padding: 8px;
}

.pickup-info>h1 {
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.pickup-info>h2 {
    font-family: Satoshi;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    flex-direction: row;

}

.ellipse {
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

.address-bags {
    display: flex;
    flex-direction: row;
    color: #111827BF;
    font-family: Satoshi;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
}

.bar-icon {
    margin-top: 5px;
    /* only need the left and right margins if the img url is placed next to the text */
    /* margin-right: 8px;
    margin-left: 8px; */
}

.pickup-buttons {
    display: flex;
    align-items: right;
    width: 208;
    height: 40;
    gap: 16px;
    opacity: 1;
    margin-top: 30px;

}

.info-wrapper {
    display: flex;
    flex-direction: row;
}

.schedule-headings {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--Card-Border, #CFCFCF);
    color: #999CA0;
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1%;
    gap: 12px;
}

.material-heading {
    /* Table header cell */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    /* width: 332px;
    height: 44px; */
    width: 35%;
    height: fit-content;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.schedule-heading {
    /* Table header cell */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    width: 25%;
    height: fit-content;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.status-heading {
    /* Table header cell */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;

    width: 20%;
    height: fit-content;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.action-heading {
    /* Table header cell */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 24px;

    /* width: 10%; */
    width: fill;
    height: fit-content;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.right-bar {
    display: flex;
    flex-direction: column;
    float: right;
    width: 288px;
    gap: 50px;
    align-self: flex-start;
    margin-top: 3%;
    padding-top: 8px;
    /* padding-top: 16px; */
    padding-right: 24px;
    /* padding-bottom: 16px; */
}

.wallet-balance-card {
    height: 279px;
    top: 357px;
    left: 1200px;
    gap: 10px;
    opacity: 1;
    padding: 16px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.wallet-title {
    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
    border-bottom: 1px solid var(--Card-Border, #CFCFCF);
    padding-bottom: 12px;
}

.dashboard-tip-card {
    height: 111px;
    top: 661px;
    left: 1200px;
    gap: 10px;
    opacity: 1;
    padding: 12px;
    border-radius: 8px;
    border-width: 1px;
    padding-top: 16px;
    padding-bottom: 12px;

    /* position: absolute; */
    border: 1px solid #344E41;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);

    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* position: absolute; */

}

.tip-title {
    font-family: Satoshi;
    font-weight: 900;
    font-style: Black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #344E41;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.tip {
    font-family: Satoshi;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #111827BF;
}

.tip-img {
    gap: 10px;
    border-radius: 30px;
    color: #FFFFFF;
    align-self: self-start;
}