.Left-Bar {
    width: 292px;
    height: 76px;
    font: Satoshi;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-left: 6.5%;
    margin-right: 6.5%;
    top: 135px;
    flex-wrap: wrap;
    position: fixed;
}

.Left-Bar>Div {
    padding: 10px;
}

.Left-Bar>div>h2 {
    font-weight: 900;
    font-size: 30px;
    color: black;
}

.Left-Bar>div>div>p {
    font-weight: 400;
    font-size: 16px;
    color: #999CA0;
    /* height: 24px; */
    align-items: center;
    letter-spacing: 0%;
    font-style: normal;
}

.Comment-Card {
    width: 271px;
    height: 177px;
    opacity: 1;
    top: 187px;
    border-width: 1px;
    border-radius: 12px;
    margin-top: 5%;
    border: 1px solid #A16207;
    background-color: #FAF9F1;
    padding: 21px;
    position: absolute;
    margin-top: 31px;
}

.Comment-Card>h3 {
    color: #A16207;
    font-weight: 700;
    font-style: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.Comment-Card>h4 {
    color: black;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 14px;
    margin-bottom: 14px;
}

.Comment-Card>p {
    color: black;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: middle;
    font: Satoshi;
    width: 205px;
    height: 54px;
    margin-right: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.search-bar {
    width: 897px;
    height: 150px;
    opacity: 1;
    top: 135px;
    left: 477px;
    border-width: 1px;
    border-radius: 16px;
    position: absolute;
    right: 0;
    border: 1px solid var(--Card-Background2, #EBE9E8);
    padding: 20px 30px;
    margin-left: -8px;
    position: absolute;
}

input {
    width: 652px;
    height: 48px;
    opacity: 1;
    gap: 8px;
    border-width: 1px;
    border-radius: 8px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    background: var(--Card-Background, #F7F7F7);
    border: 1px solid var(--Card-Border, #CFCFCF);
    width: 652;
    gap: 4px;
    color: black;
}

input::placeholder {
    color: #999CA0;
}

.search-button {
    width: 132px;
    height: 48px;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background: #344E41;
    font: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
    float: right;
}


.all-button {
    /* width: 66px; */
    /* height: 34; */
    /* gap: 8px; */
    border-radius: 999px;
    /* padding: 10px; */
    background-color: #618171;
    color: white;
    /* margin-right: 6px; */
    align-items: center;
    /* gap: 0.5rem; */
}

.recyclables-button {
    /* width: 116;
    height: 34;
    gap: 8px; */
    border-radius: 16px;
    /* padding: 10px; */
    background-color: #618171;
    color: white;
    /* margin-right: 6px;
    margin-left: 6px; */
    border-radius: 999px;
}

.hazardous-button {
    border-radius: 16px;
    border-width: 1px;
    border: 1px solid var(--Card-Border, #CFCFCF);
    color: #999CA0;
    border-radius: 999px;
}

.compost-button {
    border-radius: 16px;
    border-width: 1px;
    border: 1px solid var(--Card-Border, #CFCFCF);
    color: #999CA0;
    border-radius: 999px;
}

.cards-wrapper {
    position: absolute;
    width: 897px;
    height: 978.11px;
    left: 491px;
    top: 334px;
    padding: 0;
}

.card-title {
    /* Cans */

    width: 53px;
    height: 18px;

    /* text-xs/Medium */
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.card-description {
    /* krljrjntprp */

    width: 230px;
    height: 18px;

    /* text-xs/Medium */
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.category-txt {
    font-family: Satoshi;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
}

.warning-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 10px;

    width: 247px;
    height: 43px;

    background: #F7F7F7;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    gap: 15px;
}

.warning-label-txt {
    height: 16px;

    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

    margin-top: 2%;

}

.learn-card {
    position: relative;
    width: 275.44px;
    height: 302.7px;
    left: 0px;
    top: 0 px;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;

}

.learn-wrapper {
    /* padding-bottom: 200px; */
    background-color: color-mix(in oklab, var(--color-gray-50) 50%, transparent);

}

.load-more-btn {
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    position: relative;
    width: 153px;
    height: 44px;

    /* White */
    background: #FFFFFF;
    /* Primary/Default */
    border: 1px solid #344E41;
    border-radius: 20px;

    font-family: Satoshi;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #344E41;

}